<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CalcServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50359/CalcService.asmx" binding="basicHttpBinding"
            bindingConfiguration="CalcServiceSoap" contract="ServiceReference1.CalcServiceSoap"
            name="CalcServiceSoap" />
    </client>
  </system.serviceModel>
  
</configuration>